<div class="overall-container">
  <!-- <h1>Welcome to my home page!</h1>
  <div class="container">
    <div class="row">
      <h2>Quick facts about me</h2>
    </div>
    <div class="row">  
      <ul>
        <li>Name: Michael Wilson</li>
        <li>Career focus: Computer Science</li>
        <li>Years programming: 3</li>
        <li>Years in industry: 1</li>
        <li>Interships: 2</li>
        <li>On Market: Yes</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h2>Experiences</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Education</h3>
        <table class="table">
          <thead>
            <tr>
              <th>School</th>
              <th>Major</th>
              <th>Years Attended</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#" class="key-word">Bellevue College</a></td>
              <td>Mathematics</td>
              <td>2012 - 2014</td>
            </tr>  
            <tr>
              <td><a href="#" class="key-word">University of Washington, Seattle</a></td>
              <td>BioPhysics</td>
              <td>2014 - 2016</td>
            </tr>  
            <tr>
              <td><a href="#" class="key-word">University of Washington, Tacoma</a></td>
              <td>Computer Science</td>
              <td>2016 - present</td>
            </tr>    
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <h3>Hackathons</h3>
        <ul>
          <li><a href="#" class="key-word">Winfo</a> 2016</li>
          <li><a href="#" class="key-word">Winfo</a> 2017</li>
          <li><a href="#" class="key-word">T-Mobile</a> big data hackathon</li>
          <li><a href="#" class="key-word">DubHacks</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Side Projects</h3>
        <ul>
          <li><a href="#" class="key-word">Fibonacci Basic Visualizer</a></li>
          <li><a href="#" class="key-word">Word Shifter</a></li>
          <li><a href="#" class="key-word">Bomberman</a></li>
          <li><a href="#" class="key-word">Musical Buttons</a></li>
          <li><a href="#" class="key-word">Meme Bouncer</a></li>
          <li><a href="#" class="key-word">Canvas Editor</a></li>
          <li><a href="#" class="key-word">Dynamic Image Selector</a></li>
          <li><a href="#" class="key-word">Kadane Visualizer</a></li>
          <li><a href="#" class="key-word">0-1 Knapsack</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h2>Objectives</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Goals</h3>
        <ul>
          <li>Set up Raspberry Pi</li>
          <li>Start up a tutorial channel on youtube</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Dreams</h3>
        <ul>
          <li>Work on creating a hoverboard</li>
        </ul>
      </div>
    </div>
  </div> -->
  <app-background></app-background>
</div>
